* {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    background-color: black;
    padding: 20px 0px;
}

#navPc ul {
    display: flex;
    justify-content: center;
    list-style: none; 
}

#navPc li {
    margin: 0 10px; 
}

a {
    text-decoration: none;
    color: white;
}

#titulo{
    width: 60%;
    height: 2px;
    background-color: blueviolet;
}
main img{
    width: 40%;
}